@font-face {
    font-family: mainFont;
    src: url(ARCADECLASSIC.ttf);
}

#body {
    display:block;
    position:absolute;
    font-family: mainFont;
    font-weight: normal;
    height:600px;
    width:800px;
    padding:0;
    overflow:hidden;
    color:white;
    left: 50%;
    transform: translateX(-50%);
}

#body > div {
    display:block;
    left:0;
    top:0;
    height:100%;
    width:100%;
    padding:0;
    overflow:hidden;
}

.pages {
    font-family: mainFont;
    color:white;
    font-size:32px;
}

.menu {
    line-height: 55%;
    color:yellow;
    font-weight: bold;
    text-align:center;
    font-size:32px;
}

.title {
    background-image:url(title.png);
    background-repeat: no-repeat;
    width:320px;
    height:192px;
    display:inline-block;
    margin-top:64px;
    margin-bottom:64px;
}

.click {
  -webkit-animation: blinker 500ms infinite alternate;
  animation: blinker 500ms infinite alternate;
  color:white;
  font-size:32px;
  display:block;
  width:100%;
  position:absolute;
  bottom:10px;
}

@keyframes blinker {
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
}
